<div class="cm-forgot-pw-wrapper">
  <div class="cm-auth-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="cm-auth-main-wrap">
            <div class="cm-auth-content">
              <div class="cm-auth-wrapper-inner">
                <div class="cm-auth-logo-area">
                  <div class="logo-wrap"><img src="assets/aida-logo.svg" alt="AIDA Logo"></div>
                  <div class="side-content">
                    <h2>Vuoi recuperare la
                      tua password?</h2>
                  </div>
                </div>
                <div class="cm-auth-form-area">
                  <div class="auth-loader" *ngIf="loader">
                    <app-loader></app-loader>
                  </div>
                  <div class="main-auth-area" *ngIf="!loader">
                    <div class="cm-client-logo">

                    </div>
                    <div class="cm-auth-form-heading">
                      <h3>Ha Dimenticato La Password?</h3>
                      <p>
                        Inserisci OTP ricevuto tramite posta</p>
                    </div>
                    <div class="cm-auth-form">
                      <form [formGroup]="loginForm">
                        <mat-form-field appearance="outline" >
                          <mat-label>OTP</mat-label>
                          <input matInput type="text" MatFormFieldControl="" formControlName="otp">
                        </mat-form-field>
                        <button mat-raised-button color="primary" class="auth-btn" (click)="validateOtp()">INVIA</button>
                        <div class="auth-action login-link">
                          <P>Torna alla schermata di <a routerLink="/"
                              class="forgot-password"><strong>Login</strong></a></P>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>