<div class="loader-wrapper" *ngIf="isLoading">
  <app-aida-loader></app-aida-loader>
</div>
<div class="contacts-information">
  <div class="photo">
    <div class="photo-wrapper">
      <form [formGroup]="addContactFormView">
        <input
          type="file"
          style="display: none"
          #profilePic
          accept=".jpeg,.png"
          (change)="profilePictureUpload($event)"
        />
        <!-- <mat-icon (click)="profilePic.click()">camera_alt</mat-icon> -->
        <img src="{{this.addContactFormView?.controls?.profilePicture?.value}}" (click)="profilePic.click()" width='80px' alt="contact profile picture">
        <!-- <mat-icon>edit</mat-icon> -->
      </form>
    </div>
  </div>
  <div class="basic-information">
    <div class="name">
      <!-- {{ this.addContactFormView.controls.name.value }} -->
      <form [formGroup]="addContactFormView">
        <div class="form-field on-hover-edit">
          <mat-form-field appearance="fill">
            <!-- <mat-label>Name</mat-label> -->
            <input
                (change)="updateContactInformation()"
                matInput
                type="text"
                formControlName="name"
              />
              <mat-error *ngIf="(this.addContactFormView.get('name')?.invalid || this.addContactFormView.get('name')?.touched) && this.addContactFormView.get('name')?.errors?.required">
                {{ "RegistriesModule.NameIsRequired" | translate}}</mat-error>
                <mat-error *ngIf="(this.addContactFormView.get('name')?.invalid || this.addContactFormView.get('name')?.touched) && this.addContactFormView.get('name')?.errors?.pattern">
                  {{ "RegistriesModule.NameMustBeInTitleCase" | translate}}</mat-error>
          </mat-form-field>
        </div>
        </form>
    </div>
    <div class="website"></div>
    <div class="actions">
      <ul>
        <li>
          <a class="email" matTooltip="Email" (click)="widgetOpen('mail')">
            <mat-icon>email</mat-icon>
          </a>
        </li>
        <li>
          <a class="email" matTooltip="Phone" (click)="widgetOpen('call')">
            <mat-icon>phone</mat-icon>
          </a>
        </li>
        <li>
          <a class="email" matTooltip="Add Notes">
            <mat-icon>add</mat-icon>
          </a>
        </li>
        <li>
          <a class="email" matTooltip="Meeting">
            <mat-icon>meeting_room</mat-icon>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="company-form-and-view-area">
  <mat-accordion multi>
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title> {{ "RegistriesModule.BasicInformation" | translate}}</mat-panel-title>
      </mat-expansion-panel-header>

      <div class="expansion-content-body">
        <form [formGroup]="addContactFormView">
          <div class="form-field on-hover-edit">
            <mat-form-field appearance="fill">
              <mat-label>{{ "RegistriesModule.Manager" | translate}}</mat-label>
              <mat-select
                (change)="updateContactInformation()"
                formControlName="manager"
              >
                <mat-option *ngFor="let emp of managers" [value]="emp._id">
                  {{ emp.name | titlecase }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="(this.addContactFormView.get('manager')?.invalid || this.addContactFormView.get('manager')?.touched) && this.addContactFormView.get('manager')?.errors?.required">
                {{ "RegistriesModule.ManagerIsRequired" | translate}}</mat-error>
            </mat-form-field>
          </div>
          <div class="form-field on-hover-edit">
            <mat-form-field appearance="legacy">
              <mat-label>{{ "RegistriesModule.FiscalCode" | translate}}</mat-label>
              <input
                (change)="updateContactInformation()"
                matInput
                type="text"
                formControlName="fiscalCode"
              />
            </mat-form-field>
          </div>
          <div class="form-field on-hover-edit">
            <mat-form-field appearance="fill">
              <mat-label>{{ "RegistriesModule.Tag" | translate}}</mat-label>
              <mat-chip-list #chipList aria-label="Tag selection">
                <mat-chip
                  *ngFor="let tag of tagArray?.value;let i = index"
                  [selectable]="selectable"
                  [removable]="removable"
                  (removed)="remove(tag?.id,i)"
                >
                  {{ tag }}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <mat-select
                formControlName="tags"
                #multiSelect
              >
              <mat-option>
                <ngx-mat-select-search [formControl]="tagValue"></ngx-mat-select-search>
              </mat-option>
                <mat-option *ngFor="let tag of filteredTags | async" (click)="selected(tag.value)">
                  {{ tag.value }}
                </mat-option>
              </mat-select>
              </mat-chip-list>
            </mat-form-field>
          </div>
          <div class="form-field on-hover-edit">
            <mat-form-field appearance="legacy">
              <mat-label>{{ "RegistriesModule.BornIn" | translate}}</mat-label>
              <input
                (change)="updateContactInformation()"
                matInput
                type="text"
                formControlName="bornIn"
              />
            </mat-form-field>
          </div>
          <div class="form-field on-hover-edit">
            <mat-form-field (click)="picker1.open()" color="accent" appearance="fill">
              <mat-label>{{ "RegistriesModule.BornOn" | translate}}</mat-label>
              <input
                (dateChange)="updateContactInformation()"
                matInput
                [disabled]="true"
                [matDatepicker]="picker1"
                formControlName="bornOn"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker1"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker1 [disabled]="false"></mat-datepicker>
            </mat-form-field>
          </div>
        </form>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> {{ "RegistriesModule.MailAddress" | translate}} </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="expansion-content-body">
        <form [formGroup]="addContactFormView">
          <div class="form-field on-hover-edit">
            <mat-form-field appearance="legacy">
              <mat-label>{{ "RegistriesModule.Address" | translate}}</mat-label>
              <input
                (change)="updateContactInformation()"
                matInput
                type="text"
                formControlName="address"
              />
            </mat-form-field>
          </div>
          <div class="form-field on-hover-edit">
            <mat-form-field appearance="legacy">
              <mat-label>{{ "RegistriesModule.PostalCode" | translate}}</mat-label>
              <input
                (change)="updateContactInformation()"
                matInput
                type="text"
                formControlName="postalCode"
              />
            </mat-form-field>
          </div>
          <div class="form-field on-hover-edit">
            <mat-form-field appearance="legacy">
              <mat-label>{{ "RegistriesModule.City" | translate}}</mat-label>
              <input
                (change)="updateContactInformation()"
                matInput
                type="text"
                formControlName="city"
              />
            </mat-form-field>
          </div>
          <div class="form-field on-hover-edit">
            <mat-form-field appearance="legacy">
              <mat-label>{{ "RegistriesModule.Province" | translate}}</mat-label>
              <input
                (change)="updateContactInformation()"
                matInput
                type="text"
                formControlName="province"
              />
            </mat-form-field>
          </div>
          <div class="form-field on-hover-edit">
            <mat-form-field appearance="fill">
              <mat-label>{{ "RegistriesModule.Country" | translate}}</mat-label>
              <mat-select
                (change)="updateContactInformation()"
                formControlName="country"
              >
                <mat-option
                  *ngFor="let country of countries"
                  [value]="country.name"
                >
                  {{ country.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </form>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> {{ "RegistriesModule.ContactInformation" | translate}}</mat-panel-title>
      </mat-expansion-panel-header>

      <div class="expansion-content-body">
        <form [formGroup]="addContactFormView">
          <div class="form-field on-hover-edit">
            <mat-form-field appearance="legacy">
              <mat-label>{{ "RegistriesModule.PhoneNumber" | translate}}</mat-label>
              <input
                (change)="updateContactInformation()"
                matInput
                type="text"
                formControlName="phoneNumber"
              />
              <mat-error *ngIf="(this.addContactFormView.get('phoneNumber')?.invalid || this.addContactFormView.get('phoneNumber')?.touched) && this.addContactFormView.get('phoneNumber')?.errors?.required">
                {{ "RegistriesModule.PhoneNumberIsRequired" | translate}}</mat-error>
                <mat-error *ngIf="(this.addContactFormView.get('phoneNumber')?.invalid || this.addContactFormView.get('phoneNumber')?.touched) && this.addContactFormView.get('phoneNumber')?.errors?.pattern">
                  {{ "RegistriesModule.PhoneNumberMustBeInFormat" | translate}}</mat-error>
            </mat-form-field>
          </div>

          <div class="form-field on-hover-edit">
            <mat-form-field appearance="legacy">
              <mat-label>{{ "RegistriesModule.Email" | translate}}</mat-label>
              <input
                (change)="updateContactInformation()"
                matInput
                type="text"
                formControlName="email"
              />
              <mat-error *ngIf="(this.addContactFormView.get('email')?.invalid || this.addContactFormView.get('email')?.touched) && this.addContactFormView.get('email')?.errors?.required">
                {{ "RegistriesModule.EmailIsRequired" | translate}}</mat-error>
                <mat-error *ngIf="(this.addContactFormView.get('email')?.invalid || this.addContactFormView.get('email')?.touched) && this.addContactFormView.get('email')?.errors?.pattern">
                  {{ "RegistriesModule.EmailMustBeInFormat" | translate}}</mat-error>
            </mat-form-field>
          </div>

          <div class="form-field on-hover-edit">
            <mat-form-field appearance="legacy">
              <mat-label>{{ "RegistriesModule.Pec" | translate}}</mat-label>
              <input
                (change)="updateContactInformation()"
                matInput
                type="text"
                formControlName="pec"
              />
            </mat-form-field>
          </div>
          <div class="form-field on-hover-edit">
            <mat-form-field appearance="legacy">
              <mat-label>{{ "RegistriesModule.FacebookURL" | translate}}</mat-label>
              <input
                (change)="updateContactInformation()"
                matInput
                type="text"
                formControlName="facebookUrl"
              />
            </mat-form-field>
          </div>
          <div class="form-field on-hover-edit">
            <mat-form-field appearance="legacy">
              <mat-label>{{ "RegistriesModule.LinkedInURL" | translate}}</mat-label>
              <input
                (change)="updateContactInformation()"
                matInput
                type="text"
                formControlName="linkedInUrl"
              />
            </mat-form-field>
          </div>
        </form>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="form-field">
    <button mat-button>{{ "RegistriesModule.Submit" | translate}}</button>
  </div>
</div>
