<div class="cm-forgot-pw-wrapper">
  <div class="cm-auth-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="cm-auth-main-wrap">
            <div class="cm-auth-content">
              <div class="cm-auth-wrapper-inner">
                <div class="cm-auth-logo-area">
                  <div class="logo-wrap"><img src="assets/aida-logo.svg" alt="AIDA Logo"></div>
                  <div class="side-content">
                    <h2>{{"AuthenticationModule.DoYouWantToChangeYourPassword?" | translate}} </h2>
                  </div>
                </div>
                <div class="cm-auth-form-area">
                  <div class="auth-loader" *ngIf="loader">
                    <app-loader></app-loader>
                  </div>
                  <div class="main-auth-area" *ngIf="!loader">
                    <div class="cm-client-logo">

                    </div>
                    <div class="cm-auth-form-heading">
                      <h3>{{"AuthenticationModule.EnterNewPassword" | translate}}</h3>
                    </div>
                    <div class="cm-auth-form">
                      <form [formGroup]="changePasswordForm">
                        <mat-form-field appearance="outline">
                          <mat-label>{{"AuthenticationModule.NewPassword" | translate}}</mat-label>
                          <input type="password" matInput MatFormFieldControl="" formControlName="newPass">
                          <mat-error *ngIf="(this.changePasswordForm.get('newPass')?.touched || this.changePasswordForm.get('newPass')?.invalid) && this.changePasswordForm.get('newPass')?.errors?.required">
                            {{"AuthenticationModule.EnterNewPassword" | translate}}
                          </mat-error>
                          <mat-error *ngIf="(this.changePasswordForm.get('newPass')?.touched || this.changePasswordForm.get('newPass')?.invalid) && this.changePasswordForm.get('newPass')?.errors?.pattern">
                            {{"AuthenticationModule.PasswordMustMatchThePattern" | translate}}
                          </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                          <mat-label>{{"AuthenticationModule.ConfirmPassword" | translate}}</mat-label>
                          <input type="password" matInput MatFormFieldControl="" formControlName="passConfirm">
                          <mat-error *ngIf="(this.changePasswordForm.get('passConfirm')?.touched || this.changePasswordForm.get('passConfirm')?.invalid) && this.changePasswordForm.get('passConfirm')?.errors?.required">
                            {{"AuthenticationModule.Re-enterNewPassword" | translate}}
                          </mat-error>
                          <mat-error *ngIf="(this.changePasswordForm.get('passConfirm')?.touched || this.changePasswordForm.get('passConfirm')?.invalid) && this.changePasswordForm.get('passConfirm')?.errors?.pattern">
                            {{"AuthenticationModule.EnteredPasswordMustMatchThePattern" | translate}}
                          </mat-error>
                          <mat-error *ngIf="(this.changePasswordForm.get('passConfirm')?.touched || this.changePasswordForm.get('passConfirm')?.invalid) && this.changePasswordForm.get('passConfirm')?.errors?.notSame">
                            {{"AuthenticationModule.EnteredPasswordMustBeSame" | translate}}
                          </mat-error>
                        </mat-form-field>
                        
                        <button mat-raised-button color="primary" class="auth-btn" (click)="changePassword()">{{"AuthenticationModule.Update" | translate}}</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>