<div class="cm-forgot-pw-wrapper">
  <div class="cm-auth-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="cm-auth-main-wrap">
            <div class="cm-auth-content">
              <div class="cm-auth-wrapper-inner">
                <div class="cm-auth-logo-area">
                  <div class="logo-wrap"><img src="assets/aida-logo.svg" alt="AIDA Logo"></div>
                  <div class="side-content">
                    <h2>{{"AuthenticationModule.DoYouWantToRecoverYourPassword?" | translate}}</h2>
                  </div>
                </div>
                <div class="cm-auth-form-area">
                  <div class="auth-loader" *ngIf="loader">
                    <app-loader></app-loader>
                  </div>
                  <div class="main-auth-area" *ngIf="!loader">
                    <div class="cm-client-logo">

                    </div>
                    <div class="cm-auth-form-heading">
                      <h3>{{"AuthenticationModule.ForgotPassword?" | translate}}</h3>
                      <p>{{"AuthenticationModule.EnterTheEmailWithWhichYouRegistered,andFollowTheInstructionsThatWillComeForYouEmail." | translate}}</p>
                    </div>
                    <div class="cm-auth-form">
                      <form [formGroup]="forgotPasswordForm">
                        <mat-form-field appearance="outline">
                          <mat-label>{{"AuthenticationModule.Email" | translate}}</mat-label>
                          <input matInput MatFormFieldControl="" formControlName="email">
                          <mat-error *ngIf="(this.forgotPasswordForm.get('email')?.touched || this.forgotPasswordForm.get('email')?.invalid) && this.forgotPasswordForm.get('email')?.errors?.required">
                            {{"AuthenticationModule.EmailIsRequired" | translate}}
                          </mat-error>
                          <mat-error *ngIf="(this.forgotPasswordForm.get('email')?.touched || this.forgotPasswordForm.get('email')?.invalid) && this.forgotPasswordForm.get('email')?.errors?.pattern">
                            {{"AuthenticationModule.EnterAValidEmail" | translate}}
                          </mat-error>
                        </mat-form-field>
                        <button mat-raised-button color="primary" class="auth-btn" (click)="forgotPassword()">{{"Send" | translate}} </button>
                        <div class="auth-action login-link">
                          <P>{{"AuthenticationModule.ReturnToTheScreenOf" | translate}} <a routerLink="/"
                              class="forgot-password"><strong>{{"AuthenticationModule.Login" | translate}} </strong></a></P>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>